fieldset.lcontrol(style="padding:0;border:none;width:65px;min-inline-size:auto;", v-cloak, v-if="mapReady && mapActive")
	legend.tb-font-xxs(style="height:11px;height:calc(var(--thumbw) / 4);padding-inline-start:0;") search
	div.layer(:class="searchReady ? 'ctrl' : ''")
		a.layerDrop(style="display:flex;")
			.ui(v-if="!searchReady" @click="initSearch")
				img(v-if="!searchReady", src="/images/icons/search.svg")
			span(v-if="searchReady", style="left:0;")
				include search.pug
	legend#legend(style="height:11px;height:calc(var(--thumbw) / 4);padding-inline-start:0;")
		//
		span.layerDrop(
			style="position:absolute;height:11px;height:calc(var(--thumbw) / 4);"
			:style="{height: mapCtrl ? '11px' : 0, height: mapCtrl ? 'calc(var(--thumbw) / 4)' : 0}"
			)
			span.tb-font-xxs(v-text="'layers'")
			a.legend.close(v-if="mapCtrl" @click="switchMapCtrl" style="height:11px;height:calc(var(--thumbw) / 4);display:inline-block; left:auto;right:0;background-color:var(--primary);")
				div(style="width: 12px; width: calc(var(--thumbw) / 4); height:12px; height: calc(var(--thumbw) / 4); right:0;position:absolute;")
					svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 14 14" style="enable-background:new 0 0 14 14;" xml:space="preserve")
						g
							polygon(style="fill:var(--secondary);" points="12.4,10 9.4,7 12.4,4 10,1.6 7,4.6 4,1.6 1.6,4 4.6,7 1.6,10 4,12.4 7,9.4 10,12.4 	")

				//span.tb-font-xs( v-text="'x'")

				//- :style="{pointerEvents: mapCtrl ? 'none' : 'auto'}"
	div.layer(
		v-for="(layer, o) in layers"
		:class="mapCtrl ? 'ctrl' : ''"
		v-if="layer"
		)
		a.layerDrop(
			style="display: flex;"
			)
			.ui(
				@touchstart="initDragLayer(o, $event)"
				@touchmove="dragLayer(o, $event)"
				@touchend="endDragLayer(o, $event)"
				@mouseenter="endDragLayer(o, $event)"
				@mousedown="initDragLayer(o, $event)"
				@mousemove="dragLayer(o, $event)"
				@mouseleave="endDragLayer(o, $event)"
				@mouseup="endDragLayer(o, $event)"
				

				@click="switchMapCtrl"

				style="min-width:65px;min-width:var(--thumbw);margin:0;"
				:title="layer.properties.label"
				)

				img(:src="(!layer.properties.media[layer.properties.media.length - 1] || !layer.properties.media[layer.properties.media.length - 1].thumb || layer.properties.media[layer.properties.media.length - 1].thumb === '' ? (!layer.properties.media[0] ? '/images/publish_logo_sq.svg' : layer.properties.media[0].thumb) : layer.properties.media[layer.properties.media.length - 1].thumb)+'?version='+Math.random()", style="pointer-events: none;")
			if (selectLayers)
				input(v-if="layer", type="checkbox", :value="layer._id", :id="'layer_'+o", v-text="layer.properties.label", style="position:absolute;right:0;pointer-events:all;", @click="changeLayers(layer._id, $event)", :checked="(doc.properties.layers.map(function(item){if (item) return item.lid}).indexOf(layer._id) !== -1)")
			span.row(style="pointer-events:none;", v-for="(style, k) in doc.properties.layers", v-if="layer && style && style.lid === layer._id && mapCtrl")
				span.tb-10-m0.tb-font-s(v-text="layer.properties.label", style="padding-right: 15px; padding-left: 8px;")
				span.tb-10-m0(style="display:flex;flex-direction:column;")
					span.row(style="height:9px;")
						span.tb-08-m0(style="height:9px;")
							label.tb-10-m0(style="font-size: 9px;pointer-events: none;line-height:9px;padding-left:8px;", for="key") field
						span.tb-02-m0(style="height:9px;")
							label.tb-10-m0(style="font-size: 9px;pointer-events: none;line-height:9px;", for="buckets") divisor
					span.row
						span.tb-08-m0
							select#key.tb-10-m0(@change="changeAttribute(layer._id, $event)", :value="style.key", style="margin:0;pointer-events:all;")
								option(v-for="(item,l) in layer.properties.keys", v-if="style && !isNaN(parseFloat(json[style.lid].features[0].properties[item])) && exclude.indexOf(item) === -1" v-text="item.replace(/^r_/, '').replace(/^el_/, '').split('_').join(' ')", :value="item", :selected="item === style.key")
						span.tb-02-m0
							input.tb-10-m0#buckets(type="number", min="1", max="11", style="margin:0;pointer-events:all;", :value="style.buckets", @change="numberColorBucket(style.lid, $event)", @blur="numberColorBucket(style.lid, $event)")
			//style="pointer-events:none;", 
			div.legend(v-for="(style, k) in doc.properties.layers", v-if="layer && style && style.lid === layer._id", 
				:class="!mapCtrl ? 'res' : 'ctrl' "
				)
				
				div(v-if="style.colors && style.colors.length > 0 && style.set && style.set.length > 0", v-for="(cl,j) in style.colors", :class="!mapCtrl ? 'res' : 'ctrl'", 
				style="pointer-events:auto;",
				:style="{height: 'calc(65px / '+style.colors.length+')', height: 'calc(var(--thumbw) / '+style.colors.length+' )' }"
				)
					label(v-if="!isSafari" style="font-size: 8px;position:absolute;padding:1px 2px;color:#fff;font-weight:heavier;pointer-events:none;z-index:2;", 
						:for="'color'+k+'_'+j", 
						v-text="(style.set[j]) + '–' + (!style.colors[j+1] ? style.max : style.set[j+1])")

					input(v-if="!isSafari" :id="'color'+k+'_'+j", type="color", :value="cl", @change="changeColorBucket(k, j, $event)", style="pointer-events:all;z-index:1;", 
					:style="{height: 'calc(65px / '+style.colors.length+')', height: 'calc(var(--thumbw) / '+style.colors.length+' )'}"
					)
					div.label.tb-font-xxs(v-if="isSafari" style="margin:0;font-size: 7px;position:absolute;padding:2px;color:#fff;font-weight:heavier;", 
						v-text="(style.set[j]) + '–' + (!style.colors[j+1] ? style.max : style.set[j+1])")
					div.color(v-if="isSafari")
						div.field(style="margin: 0px; display: flex; margin-bottom: 5px;")
							div(style="width: 100%;border: solid 1px rgba(0, 0, 0, 0.1); border-radius: 2px; display: inline-block;"
								:style="{backgroundColor: cl, height: 'calc(var(--thumbw) / '+style.colors.length+' )'}")
								


	legend.block#availablelayers(style="font-size: 11px; margin-top:10px;", v-if="availablelayers && availablelayers !== '' && availablelayers.length > 0") more
	a.drop(style="display: flex;width:65px;width:var(--thumbw);", @click="drop('layers', $event)", v-if="availablelayers && availablelayers !== '' && availablelayers.length > 0")
		.ui(style="min-width:65px;min-width:var(--thumbw);margin:0;pointer-events:none;")
			img(src="/images/icons/add.svg", style="pointer-events: none;")
	
		span.tb-font-m(v-html="'Available layers'", style="width:auto; padding-right: 15px; padding-left: 8px;")

	div.slidedown(v-if="dropped.layers")
		a.drop(v-for="(alayer, p) in availablelayers", v-if="(doc.properties.layers.map(function(item){if (item) return item.lid;}).indexOf(alayer._id) === -1)" style="display: flex;width:65px;width:var(--thumbw);")
			.ui(style="min-width:65px;min-width:var(--thumbw);margin:0;", :title="alayer.properties.label")
				img(:src="(!alayer.properties.media[alayer.properties.media.length - 1] || !alayer.properties.media[alayer.properties.media.length - 1].thumb || alayer.properties.media[alayer.properties.media.length - 1].thumb === '' ? (!alayer.properties.media[0] ? '/images/publish_logo_sq.svg' : alayer.properties.media[0].thumb) : alayer.properties.media[alayer.properties.media.length - 1].thumb)+'?version='+Math.random()", style="pointer-events: none;")
			
			span.tb-font-m(v-text="alayer.properties.label", style="width:auto; padding-right: 15px; padding-left: 8px;")
			if (selectLayers)
				input(type="checkbox", :value="alayer._id", :id="'alayer_'+p", v-text="alayer.properties.label", style="position:absolute;", @click="changeLayers(alayer._id, $event)", :checked="(doc.properties.layers.map(function(item){if (item) return item.lid}).indexOf(alayer._id) !== -1)")

	
	legend.tb-font-xxs base
	a.drop(style="display: flex;width:65px;width:var(--thumbw);")
		.ui(style="pointer-events: none;min-width:65px;min-width:var(--thumbw);margin:0;")
			//- label(for="base_0", v-text="'streets'", style="font-size: 7px;line-height:7px;height:7px;pointer-events:none;position:absolute;background-color:var(--primary);") 
			img(src="/images/base_0.jpg", style="pointer-events: none;")
		span.tb-font-m(v-text="'streets'", style="width:auto; padding-right: 15px; padding-left: 8px;")
		input(type="radio", value="0", id="base_0", v-text="'Streets'", style="position:absolute;", @click="changeBase(0, $event)", :checked="base === 0")
	a.drop(style="display: flex;width:65px;width:var(--thumbw);")
		.ui(style="pointer-events: none;min-width:65px;min-width:var(--thumbw);margin:0;")

			img(src="/images/base_1.jpg", style="pointer-events: none;margin:0;")
		span.tb-font-m(v-text="'Satellite'", style="width:auto; padding-right: 15px; padding-left: 8px;")
		input(type="radio", value="1", id="base_1", v-text="'Satellite'", style="position:absolute;", @click="changeBase(1, $event)", :checked="base === 1")
