doctype strict
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge; charset=utf-8")
		//- meta(name="google-site-verification", content="p4ANTDMaoAMsiWW5CwWtiY9v8mEPGv8KhQetzWrJlwc")
		title= appTitle
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		base(href="")
		link(href="/stylesheets/gpo.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/leaflet.css")
		link(rel="stylesheet", href="/stylesheets/leaflet.draw.css")
		script(type="text/javascript", src="/scripts/vue.min.js")
		script(type="text/javascript", src="/scripts/jquery.min.js")
		script(type="text/javascript", src="/scripts/jquery-ui.min.js")
		script(type="text/javascript", src="/scripts/moment-with-locales.min.js")
		script(type="text/javascript", src="/scripts/marked.min.js")
		script(type="text/javascript", src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=yb2pwtctf7qznwdoo61w3kyj127j61gch5uhhzneop9mfkg7")
		script(type="text/javascript", src="/scripts/leaflet.js")
		script(type="text/javascript", src="/scripts/Path.Drag.js")
		script(type="text/javascript", src="/scripts/Leaflet.Editable.js")
		script(type='text/javascript', src='/scripts/leaflet-image_0_4_0.js')
		script(type="text/javascript", src="/scripts/jszip.min.js")
		script(type="text/javascript", src="/scripts/signaturePad.js")
		script(type="text/javascript", src="/scripts/htmldiff.js")
	body
		block page
		block header
		block content
		div#gpresult
		
		#map

		script(type="text/javascript").
			Vue.prototype.moment = moment;
			Vue.prototype.marked = marked;
			Vue.prototype.SignaturePad = SignaturePad;
			Vue.prototype.$ = $;
			Vue.prototype.htmldiff = htmldiff;
			new Vue({
				el: '#vue',
				data: function data(){
					return {
						lvl: 'h',
						h: 0,
						i: 0,
						j: 0,
						m: 0,
						signable: this.parseBool(!{JSON.stringify(signable)}),
						unsigned: this.parseBool(!{JSON.stringify(unsigned)}),
						avail: this.parseBool(!{JSON.stringify(avail)}),
						type: this.parseObj(!{JSON.stringify(type)}),
						pu: this.parsePu(!{JSON.stringify(pu)}),
						loggedin: (this.parseObj(!{JSON.stringify(session)}) !== '' && this.parseObj(!{JSON.stringify(session.loggedin)}) !== '' ? this.parseObj(!{JSON.stringify(session.loggedin)}) : null ),
						menu: this.parseObj(!{JSON.stringify(menu)}),
						dat: this.parseObj(!{JSON.stringify(dat)}),
						//- data: '',//this.parseObj(!{JSON.stringify(data)}),
						doc: this.parseObj(!{JSON.stringify(doc)}),
						position: (!this.parseObj(!{JSON.stringify(session.position)}) ? {lat: 40, lng: -111.89, zoom: 6}/*null*/ : this.parseObj(!{JSON.stringify(session.position)})),
						edit: (this.parseObj(!{JSON.stringify(doc)}) === '' ? null : this.parseObj(!{JSON.stringify(doc)}).index),
						chindexes: [],
						chindex: 0,
						dindexes: [],
						dindex: (this.parseObj(!{JSON.stringify(doc)}) === '' ? 0 : this.parseObj(!{JSON.stringify(doc)}).index),
						cursor: null,
						input: '',
						fixedPug: '',
						map: '',
						mapActive: false,
						dataLayer: '',
						lMarker: '',
						thickness: 45,
						wWidth: window.innerWidth,
						wHeight: window.innerHeight,
						dPath: this.dPathAttr(),
						tinymce: null,
						dfi: 0,
						diff: null,
						web: true,
						export: this.parseBool(!{JSON.stringify(exports)}),
						ff: this.parseObj(!{JSON.stringify(ff)}),//['General Provisions.', 'Concept Plan.', 'Sketch Plan.', 'Preliminary Subdivision Applications.', 'Final Subdivision Applications.', 'Vacating or Amending a Recorded Final Subdivision Plat, Street or Alley Final.', 'Subdivision Ordinance Amendments.', 'Noticing Requirements.', 'Appeals.', 'Special Excepetions.', 'Design and Construction Standards.', 'Guarantees for Subdivision Improvements, Facilities, and Amenities.', 'Definitions.'],
						
						newDoc: {tempGeo:[]},
						placemenu: false,
						placetypes: [{
							name: 'Nation',
							url: '/json/us.json'
						},
						{
							name: 'State',
							url: '/json/usstates.json'
						}/*,
						{
							name: 'County',
							url: '/json/uscounties.json'
						}*/],
						modal: {msg:null},

						uploadisreplace: false,
						uploadchtitle: null,
						dragind: null,
						latlngs: null,
						gp: (this.parseObj(#{session.importgdrive}) !== '' ? this.parseObj(!{JSON.stringify(gp)}) : null),
						sliderIndex: 1,
						str: this.parseObj(!{JSON.stringify(str)}),
						ts: this.ifNullThenArr(!{JSON.stringify(ts)}),
						can: [],
						tis: [
							{
								index: 0,
								name: 'in support of legislation',
								code: 'BILLS-',
								chapter: [
									{
										index: 115,
										name: 'United States Congress',
										code: 'hres',
										section: [
											{
												index: 108,
												name: 'House Simple Resolution (H. Res.)',
												code: 'ih'
											}
										]
									}
								]
							},
							{
								index: 1,
								name: 'in Solidarity',
								chapter: [
									{
										index: 0,
										name: 'Jurisdiction'
									}
								]
							},
							{
								index: 2,
								name: 'Candidate for Public Office',
								chapter: [
									{
										index: 0,
										name: 'Jurisdiction'
									}
								]
							},
							{
								index: 3,
								name: 'Environmental Impact Statement',
								chapter: [
									{
										index: 0,
										name: 'Jurisdiction'
									}
								]
							},
							{
								index: 4,
								name: 'Geography',
								chapter: [
									{
										index: 0,
										name: 'Jurisdiction'
									}
								]
							}
						],
						xml: this.parseObj(!{JSON.stringify(xml)}),
						accordions: (this.parseObj(!{JSON.stringify(dat)}) !== '' && this.parseBool(!{JSON.stringify(exports)}) ? this.parseObj(!{JSON.stringify(dat)}).map(function(data){return data.map(function(doc){return doc.index})}) : 
							(
								this.parseObj(!{JSON.stringify(dat)}) !== '' ?
								[
									this.parseObj(!{JSON.stringify(dat)}).map(function(data){return []})
								] :
								[[]]
							)
						)
					}
				},
				components: {
					//- xmlStylesheet: {
					//- 	data(){
					//- 		return {
					//- 			url: '/stylesheets/billres.xsl'
					//- 		}
					//- 	},
					//- 	template: '<?xml-stylesheet type="text/xsl" :href="url"?>'
					//- },
					canvasc: {
						//- props: ['pu'],
						//- inject: ['pu'],
						data: function() {
							return {
								signaturePad: null,
								ctx: null,
								dataUrl: null,
								pts: null,
								cW: window.innerWidth,
								cH: window.innerHeight,
								pu: this.$parent.pu
							}
						},
						mounted: function(){
							var self = this;
							self.signaturePad = new SignaturePad(self.$refs.canv, {
								onEnd: async function() {
									self.$refs.canv.style['letter-spacing'] = '0px'
									var ctx = self.$refs.canv.getContext('2d');
									ctx.font = '12px serif';
									
									var ts = '/'+self.pu.properties.givenName+'/'+moment().utc().format();
									//- ctx.fillStyle = 'rgba(0,0,0,0)';
									ctx.beginPath();
									//- ctx.fillRect(23, 132, 300, 32);
									//- ctx.fillStyle = '#000';
									ctx.fillText(ts, 23, 132);
									ctx.closePath();
									self.dataUrl = self.signaturePad.toDataURL()
									self.pts = self.signaturePad.toData();
									self.$emit('update', self.dataUrl, ts, self.$refs.canv);
									
								},
								onBegin: function() {
									// clear timestamp only
									var ctx = self.$refs.canv.getContext('2d');
									ctx.clearRect(23, 123, 277, 32);

								}
							});
						},
						methods: {
							clearCanv(){
								var self = this;
								var ctx = self.$refs.canv.getContext('2d');
								ctx.clearRect(0, 0, 300, 150);
								
							}
						},
						template: 
						//- '#signaturepad'
						`
						<div class="row" style="text-align: center;">
						<canvas
							id="maincanvas"
							ref="canv"
						></canvas>
						<a role="button" @click="clearCanv" title="Clear signature" v-text="'Clear signature'"></a>
						</div>
						`
					}
				},
				updated: function(){
					var self = this;
					if (self.dindexes.length === 0) {
						self.dindexes = (self.dat && self.dat !== '' ? self.data.map(function(data){
							data.map(function(doc){
								return doc.index;
								
							})
						}) : [[(!self.doc || self.doc === '' ? 0 : self.doc.index)]] );
						self.dindexes.sort();
						
					}
					//- console.log(self.doc.properties.xmlurl)
					//- if (self.doc.properties.xmlurl && self.doc.properties.xmlurl !== '') {
					//- 	//- var url = 
					//- 	//- $.get(self.doc.properties.xmlurl +'?api_key='+ '#{session.gpo}' )
					//- 	//- .then(function(result){
					//- 	//- 	console.log(result);
					//- 		//- self.xml = self.doc.properties.xmlurl +'?api_key='+ '#{session.gpo}';
					//- 	//- })
					//- }
				},
				mounted: function(){
					$(document).ready(function(){
						document.addEventListener('keydown', function(event) {
						  var keyName = event.key;
							if (keyName === 'Enter') event.preventDefault()
						  //alert('keypress event\n\n' + 'key: ' + keyName);
						});
					})
					var self = this;
					$(document).on('click', '.href', function(e){
						e.stopPropagation();
					});
					self.dindexes = (self.data && self.data !== '' ? self.data.map(function(doc){
						return doc.index;
					}) : [(!self.doc || self.doc === '' ? 0 : self.doc.index)] );
					self.dindexes.sort();
					$('.drop').slideToggle(100);
					$('.slidedown').slideToggle(100);
					$('.mainmenu').on('click', function(){
						if ($('.dropdown').hasClass('active')) {
							$('.dropdown').removeClass('active');
						} else {
							$('.dropdown').addClass('active');
						}
						$('.drop').slideToggle(100);
					});
					$('.submenu.drop').on('click', function(){
						if (!$(this).next('.slidedown')) {
							
							return;
						} else {
							
							$('.submenu.drop').not($(this)).removeClass('active');
							$(this).next('.slidedown').slideToggle(100);
							$(this).toggleClass('active');
							if (!$('.submenu.drop').not($(this)).next('.slidedown a').attr('href')) {
								$('.submenu.drop').not($(this)).next('.slidedown').slideUp(100);
							} else {
								
								$(this).parent('.slidedown').slideUp(100);
								if (!$(this).attr('href')) {
									$(this).children('.ui').children('i').toggleClass('fa-angle-right');
									$(this).children('.ui').children('i').toggleClass('fa-angle-down');
								} else {
									$('.dropdown').not($('.static')).slideUp(100);
								}
								//
							}
						}
					});
					if (self.gp && self.gp !== '') {
						/*var document = window.document;
						#{$ScriptJS}('https://apis.google.com/js/api.js', function(){
							self.onGapiLoad()
						});*/
						let script = document.createElement('script')
						script.setAttribute('src', 'https://apis.google.com/js/api.js')
						script.async = true
						script.onload = () => {
							self.onGapiLoad()
						}
						document.head.appendChild(script)
					}

					if (self.dat) {
						self.dat.sort(function(a,b){
							return a[0].properties.chapter.ind > b[0].properties.chapter.ind
						})
						//self.dat = self.dat.reverse()
					}
					console.log(self.dat)
					var modal = document.getElementById('modal');
					console.log(modal)
					if (self.type === 'geo') {
						var pos = null;
						if (navigator.geolocation) {
							var options = {
								enableHighAccuracy: true,
								timeout: 5000,
								maximumAge: 0
							};
							navigator.geolocation.getCurrentPosition(function(position) {
								pos = {
									lat: position.coords.latitude,
									lng: position.coords.longitude
								};
								console.log(pos)
								self.handleLocationOutcome(true, pos);
							}, function() {
								console.log('adfslkn')
								self.handleLocationOutcome(false, pos);
							}, options);
						} else {
							// Browser doesn't support Geolocation
							self.handleLocationOutcome(false, pos);
						}
					
					}
					//- else if (modal) {
					//- 	self.modal.msg = 'geolocator didn\'t work. Please provide the zip code you vote from. ';
					//- 	self.modal.id = 'zip'
					//- }
					//- if (!self.data || self.data === '') {
						//self.dat.forEach(function(data))
						
						if (!self.doc || self.doc === '') {
							//- if (self.dat[0] && self.dat[0][0].properties.chapter.ind === self.dat[self.dat.length - 1][0].properties.chapter.ind) {
							//- 	self.data = self.dat[0]
							//- } else {
							//- 	if (self.dat[0]) {
							//- 		self.data = [].concat.apply([], self.dat);
							//- 	}
							//- }	
							
						} else {
							
							self.edit = self.doc.index;
							self.dindexes = [self.edit];
							self.dindex = 0;
							console.log(self.pu, self.ts.length, !self.unsigned)
							
							//-  else if (self.pu && self.ts.length > 0 && !self.unsigned) {
							//- 	console.log('blrg')
							//- 	self.handleLocationOutcome(false, pos);
							//- } 
							
						}
						//- if (self.doc.properties.xmlurl && self.doc.properties.xmlurl !== '') {
						//- 	//- var url = 
						//- 	//- $.get(self.doc.properties.xmlurl +'?api_key='+ '#{session.gpo}' )
						//- 	//- .then(function(result){
						//- 	//- 	console.log(result);
						//- 		//- self.xml = self.doc.properties.xmlurl +'?api_key='+ '#{session.gpo}';
						//- 	//- })
						//- }
					//- }

					if (!self.tinymce && $('#description')[0] && tinymce) {
						//- console.log('shouldn\'t be')
						//- console.log($('#description')[0])
						self.tinymce = tinymce.init({
							menubar: false,
							statusbar: false,
							theme: 'inlite',
							inline: true,
							selector: "#description,#title",
							plugins: 'lists',
							valid_elements: '*[*]',
							setup: function (editor) {
								editor.addButton('footnote', {
									text: 'Add footnote',
									icon: 'link',
									onclick: function(){
										self.doc.properties.footnotes.push(
											''
										);
										editor.insertContent('<a v-if="doc.properties.footnotes && doc.properties.footnotes['+(self.doc.properties.footnotes.length - 1)+']" href="ftnref'+(self.doc.properties.footnotes.length)+'"><span class="super">'+(self.doc.properties.footnotes.length)+'</span></a>')
										//editor.insertContent('<span v-if="doc.properties.footnotes && doc.properties.footnotes['+(self.doc.properties.footnotes.length - 1)+']" class="super">'+(self.doc.properties.footnotes.length)+'</span>')
										$('#footnote'+self.doc.properties.footnotes.length - 1).focus()
									}
								})
							},
							//custom_ui_selector: '.footnote_button',
							selection_toolbar: 'bold italic underline strikethrough | bullist numlist | outdent indent blockquote | subscript superscript | footnote'
							//selectiion_toolbar: 'undo redo | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify alignnone | outdent indent blockquote | subscript superscript | bullist numlist | link unlink | table',
							//table_toolbar: "tableprops tabledelete | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol"
							

						});
						

					}
					//- \console.log(dataCoords)
					if (self.position) {
						//- var cll = new L.LatLng(self.position.lat, self.position.lng)
						
						self.loadMap(function(dataCoords){
							self.latlng = dataCoords
							self.panZoom();
							
						})
					}
					self.sliderImg()
					
					
				},
				beforeDestroy: function(){
					
				},
				methods: {
					parsePu(obj) {
						if (!obj) {
							return {
								properties: {
									givenName: ''
								}
							}
						}
						return obj;
					},
					changeDocType(e) {
						var self = this;
						console.log(e.target.value)
						var ind = parseInt(e.target.value, 10);
						self.newDoc.tiind = ind;
					},
					changePlaceType(e) {
						var self = this;
						var url = e.target.value;
						var type = (e.target.value === '/json/usstates.json' ? 'State' : (e.target.value === '/json/us.json' ? 'Nation' : null));
						$.getJSON(url).then(async function(json){
							await console.log(json)
							self.newDoc.placetype = type;
							self.newDoc.tempGeo = await json.features;
							console.log(self.newDoc.tempGeo)
						})
						.catch((err)=>console.log(err))
					},
					changePlaceNew(e) {
						var self = this;
						console.log(e.target.value)
						var ind = parseInt(e.target.value, 10);
						console.log(ind)
						self.newDoc.place = (isNaN(ind) || !self.newDoc.tempGeo[ind] ? (!self.newDoc.tempGeo[self.newDoc.tempGeo.length-1] ? null : self.newDoc.tempGeo.length-1) : ind )
					},
					submitZip(e) {
						var self = this;
						$.post('/pu/getgeo/'+null+'/'+null+'/'+self.modal.zip+'')
						.then(function(href){
							window.location.href = href
						})
					},
					handleLocationOutcome(geolocation, pos) {
						var self = this;
						console.log(geolocation)
						var modal = document.getElementById('modal');
						if (!geolocation && modal) {
							self.modal.msg = 'geolocator didn\'t work. Please provide the zip code you vote from. ';
							self.modal.id = 'zip'
						} else if (geolocation) {
							//http://localhost:8686/sig/getgeo/5ca8cd51aa87b56585bedbb4/40.666473599999996/-111.8096681/null/null
							if (!pos || !pos.lat) {
								
							} else {
								$.post('/pu/getgeo/'+pos.lat+'/'+pos.lng+'/'+null+'')
								.then(function(href){
									window.location.href = href
								})
							}
							
						} else {
							if (!self.pu || !self.pu._id){
								
							}else {
								window.location.href = '/pu/getgeo/'+self.pu._id+''
							}
						}
					},
					ifNullThenArr(obj) {
						if (!obj) return [];
						return obj;
					},
					sliderImg: function(){
						var self = this;
						if ($('#slider')[0]) {
							setInterval(function(){
								$('#slider').css('opacity',0);
								setTimeout(function(){
									if (self.sliderIndex > 3) {
										self.sliderIndex = 0
									} else {
										self.sliderIndex += 1;
									}
									setTimeout(function(){
										$('#slider').css('opacity',1);
									},2000)
									
								},2000)
							},10000)
						} else {
							console.log('no slider')
						}
					},
					clickSlider: function(diff, doc){
						//`<a v-bind:click="" >${diff.user.username}<img class="avatar" src="${diff.user.avatar}"></img></a>`
						$('#diff'+doc.index).val(diff.ind)
					},
					changeDiff(e) {
						var self = this;
						console.log(e.target.value)
						self.dfi = (!isNaN(parseInt(e.target.value, 10)) ? parseInt(e.target.value, 10) : null);
					},
					dragEnd: function(event, layer) {
						var marker = event.target;
						var position = event.target.getLatLng();
						//console.log(position)
						var lat = position.lat;
						var lng = position.lng;
						self.lMarker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
						self.map.panTo(new L.LatLng(position.lat, position.lng))
						self.position.lng = lng;
						self.position.lat = lat;
						//self.doc.geometry.coordinates = [lng, lat];
						//console.log(self.doc.geometry.coordinates)
						if (self.dragind) {
							//console.log(self.doc.geometry.coordinates[0][self.dragind])
							//console.log(self.dataLayer.getLatLngs())
							self.doc.geometry.coordinates[0][self.dragind] = [lng,lat];
							/*self.dataLayer.onEachFeature = function(feature, layer) {
								layer.setLatLngs(self.doc.geometry.coordinates[0])
							}*/
						}

					},
					navigateTo: function(url){
						window.location.href = url;
					},
					deleteEntry: function(doc) {
						$.post('/api/deleteentry/'+doc._id+'', function(res){
							window.location.href = '/menu/'+doc.properties.title.ind+'/'+doc.properties.chapter.ind+'';
						})
					},
					deleteMedia: function(ind) {
						var self = this;
						$.post('/api/deletemedia/'+self.doc._id+'/'+ind+'', function(res){
							self.doc = res;
						})
					},
					accordion: function(n, ind) {
						var self = this;
						var input = document.getElementById('diff'+ind);
						//console.log(self.accordions[n])
						//console.log(self.dat[n][ind].index)
						/*if (self.dat[n][ind] !== undefined) {
							self.changeDiff(self.dat[n][ind], true)
						}*/
						
						if (self.accordions[n].indexOf(ind) === -1) {
							self.accordions[n].push(ind);
							self.accordions[n].sort();
							/*self.accordions[n].forEach(function(a){
								if (a.index === ind && document.getElementById('diff'+a.index)) {
									
								} else {
									document.getElementById('diff'+a.index).value = null
								}
							})*/
						} else {
							self.accordions[n].splice(self.accordions[n].indexOf(ind), 1);
							//input.value = null;
							//self.changeDiff(self.dat[n][ind], false)
						}
					},
					parseBool: function(item) {
						if (!item) return false;
						return true;
					},
					toggleExport: function() {
						this.export = !this.export;
					},
					getHTML: function(type, str) {
						var self = this;
						var span = document.createElement(type);
						span.innerHTML = str;
						return span.outerHTML;
					},

					dPathAttr: function() {
						var self = this;
						var thickness = (!thickness ? 50 : thickness);
						var nw = (!self.wWidth ? window.innerWidth : self.wWidth);
						var nh = (!self.wHeight ? window.innerHeight : self.wHeight);
						
						var d;
						if (self.type === 'draw') {
							d = "M0,0v"+nh+"h"+nw+"V0H0L0,0z"
						} else {
							d = "M0,0v"+nh+"h"+nw+"V0H0L0,0z "+
							"M"+(thickness)+","+(thickness)+"H"+(nw - thickness)+"V"+(nh - thickness)+"H"+(thickness)+"V"+(thickness)+"z "
						}
						return d;
					},
					widthRectAttr: function(plus,type){
						var nw = this.getSize(type).nw;
						return nw - ((self.thickness + plus) * 2);
					},
					heightRectAttr: function(plus,type){
						var nh = this.getSize(type).nh;
						return nh - ((self.thickness + plus) * 2);
					},
					panZoom: function(){
						var self = this;
						//console.log(self.map)
						if (self.map) {
							$.post('/panzoom/'+self.map.getCenter().lat+'/'+self.map.getCenter().lng+'/'+self.map.getZoom()+'', function(result){
							})
						}
						
					},
					importCsv: function(e){

						var self = this;
						var file = document.getElementById('importcsv').files[0];//e.target.files[0];
						var reader = new FileReader();
						
						reader.onloadend = function(e) {
							var fd = new FormData();

							fd.append("csv", file);
							
							var uploadurl = '/api/importcsv/'+(!self.doc || self.doc === '' ? self.data[self.dindex]._id : self.doc._id )+'/csv';
							$.ajax({
								url: uploadurl,
								type: 'POST',
								data: fd,
								processData: false,
								contentType: false,
								success: function(response) { 
									self.doc = response;
									/*var bounds = self.dataLayer.getBounds();
									self.map.fitBounds(bounds);*/
									window.location.reload(true)
								}
								
							})
						}
						reader.readAsDataURL(file)
						
					},
					submitForm: function(ind){
						$('#form_'+ind+'').submit()
					},
					parseObj: function(obj) {
						if (!obj) return '';
						return obj;
					},
					toggleEdit: function(ind) {
						var self = this;
						this.edit = (!this.edit ? ind : null);
						
						
						
					},
					checkNameValidity(type, aSearchTerm, aMsg, event) {
						var self = this;
						var elem = event.target;//document.getElementById(aID);
						for (var i = 0; i < elem.value.length; i++) {
							if (aSearchTerm.indexOf(elem.value.charAt(i)) !== -1) {
								elem.setAttribute("aria-invalid", "true");
								//- addAlert(aMsg);
							} else {
								elem.setAttribute("aria-invalid", "false");
								//- removeOldAlert();
							}
						}
						var check = elem.value;
						if (check !== '' && type === 'givenName') {
							//var check = $(elem).val();
							var url = check.replace(' ', '_');
							$.post('/check/'+check).done(function(result, res){
								console.log(result, res)
								self.avail = (result === 'Available')
							})
						}
					},
					initSig() {
						var self = this;
						self.type = 'draw';
						document.getElementById('viewer').scrollIntoView();

					},
					setSigData(i, val, ts, can) {
						var self = this;
						
						Vue.set(self.can, parseInt(i,10), can)
						console.log(self.ts, ts)
						if (!Array.isArray(self.ts)) {
							self.ts = [];
						}
						Vue.set(self.ts, 0, ts)
						//- self.can = val;
						//- console.log(self.ts, self.can)
					},
					updateSignature(index, url) {
						Vue.set(this.signatureDataUris, 0, url);
						//- console.log(this.signatureDataUris);
					},
					signatureToBlob(cb) {
						var self = this;
						//- if (!self.signatureDataUris[0]) return;
						//- var binStr = atob( self.signatureDataUris[0].split(',')[1].split(';')[0] ),
						//- len = binStr.length,
						//- arr = new Uint8Array(len);
						//- for (var i = 0; i < len; i++ ) {
						//- 	arr[i] = binStr.charCodeAt(i);
						//- }
						//- cb( new Blob( [arr], {type: 'image/png'} ) );
					// console.log(self.can)
						if (!HTMLCanvasElement.prototype.toBlob) {
						 Object.defineProperty(HTMLCanvasElement.prototype, 'toBlob', {
							value: function (callback, type, quality) {
								var binStr = atob( this.toDataURL(type, quality).split(',')[1] ),
								len = binStr.length,
								arr = new Uint8Array(len);
								for (var i = 0; i < len; i++ ) {
									arr[i] = binStr.charCodeAt(i);
								}
								callback( new Blob( [arr], {type: type || 'image/png'} ) );
							}
						 });
						}
						self.can[0].toBlob(function(blob){
						// console.log(blob)
							cb(blob);
						}, 'image/png')
					},
					saveSignature(){
						var self = this;
						var fd = new FormData();
						self.signatureToBlob(function(blob){
							
							fd.append('img', blob);
							fd.append('_csrf', '#{csrfToken}');
						// console.log(self.ts)
							fd.append('ts', self.ts);
							//- console.log(self.ts, self.can)

							var uploadurl = '/sig/uploadsignature/'+self.doc._id+'/'+self.pu._id+'';
						// console.log(blob)
							$.ajax({
								url: uploadurl,
								type: 'POST',
								data: fd,
								processData: false,
								contentType: false,
								success: function(response) {
									//- $('#inputimg').val(response);
									self.mode = 'blog';
								// console.log(response)
									window.location.href = response
								}
							})
						})
					},
					activateMap(){
						var self = this;
						var mapActive = self.mapActive;
						if (!mapActive) {
							document.getElementById('viewer').scrollIntoView();
						} else {
							document.getElementById('inputs').scrollIntoView();
						}
						self.mapActive = !mapActive;
					},
					
					addMapBlob() {
						var self = this;
						var ind = self.doc.properties.media.length;
						//- $('div.centerallwrap').css('pointer-events', 'auto');
						var mapActive = self.mapActive;
						self.mapActive = !mapActive;
						document.getElementById('inputs').scrollIntoView();

						self.dataLayer.disableEdit();
						self.addNewMedia(self.doc._id, ind, function(){
							//var canvas = document.querySelector('canvas.leaflet-zoom-animated');
							leafletImage(self.map, function(err, canvas){
								if (err) {
									return console.log(err)
								}
								$('a[id*=deletemedia]').hide();
								var im = new Image()
								im.src = canvas.toDataURL('image/png');
								im.onload = function(){
									self.checkImage(im, canvas, im.width, im.height, 1025, 1025, ind, 'map');
									setTimeout(function(){
										var img = document.querySelector('img#return'+ind+'');
										var can = $('#canvas'+ind+'')[0];
										var w = img.width;
										var h = img.height;
										can.width = w;
										can.height = h;
										var ctx = can.getContext("2d");
										ctx.drawImage(img, 0, 0, w, h);
										self.uploadBlob(img, can, ind, function(){
											//console.log(canvas)
											var dataurl = can.toDataURL("image/png", 0.8);
											self.doc.properties.media[ind].thumb = dataurl.replace(/data:image\/png;base64,/, '');
										})
											/**/
										
										
									},2000)
								}
								
							})
							
							
							
						});
						
					},
					addNewMedia: function(id, index, cb) {
						var self = this;
						$.post('/api/newmedia/'+id+'/'+index+'', function(res) {
							self.doc.properties.media.push(res);
							cb()
						})
					},
					handleFile: function(dindex, index) {
						var self = this;
						self.dindex = dindex;
						self.file = document.getElementById('media_'+index).files[0];
						self.processImage(index);
					},
					processImage: function(imgindex) {
						var self = this;
						var dataurl = null;
						var file = self.file;
						if (!file) return;
						var imagefile = file.type;
						var imageTypes= ["image/jpeg","image/png","image/jpg","image/svg+xml"];
						if(imageTypes.indexOf(imagefile) === -1) {
							$("#info").html("<span class='msg-error'>Please Select A valid Image File</span><br /><span>Only jpeg, jpg, png, and pdf types allowed</span>");
							return false;
							
						} else {
							var reader = new FileReader();
							
							reader.onloadend = function(e) {
								var img = document.getElementById('return'+imgindex+'');
								img.src = e.target.result;
								var type = imagefile.split('image/')[1];
								img.onload = function() {
									$('#media').val('');
									var can = $('#canvas'+imgindex+'')[0];
									var maxWidth = 1025 ;
									var maxHeight = 1025 ;
									var w = img.width;
									var h = img.height;
									can.width = w;
									can.height = h;
									var ctx = can.getContext("2d");
									ctx.drawImage(img, 0, 0);
									self.checkImage(img, can, w, h, maxWidth, maxHeight, imgindex, type);
								}
								
							}
							reader.readAsDataURL(file);
						}
					},
					checkImage: function(img, can, w, h, maxWidth, maxHeight, imgindex, imgtype) {
						var self = this;
						if (h > maxHeight || w > maxWidth) {
							self.reSize(img, can, w, h, maxWidth, maxHeight, imgindex, imgtype)
						} else {
							if (imgtype === 'map') {
								var im = document.querySelector('img#return'+imgindex+'');
								im.setAttribute('src', can.toDataURL('image/png'))
							} else {
								if (maxHeight === 400) {
									self.drawThumb(img, can, w, h, imgindex, imgtype)
								} else {
									self.drawFull(img, can, w, h, imgindex, imgtype)
								}
							}
						}
						
					},
					reSize: function(img, can, w, h, maxWidth, maxHeight, imgindex, imgtype){
						can.height = h*0.99;
						can.width = w*0.99;

						var can2 = document.createElement('canvas');
						can2.width = w*0.99;
						can2.height = h*0.99;
						var ctx2 = can2.getContext('2d');
						var ctx = can.getContext('2d');
						ctx2.drawImage(img, 0, 0, w*0.99, h*0.99);
						ctx.drawImage(can2, 0, 0, w*0.99, h*0.99, 0, 0, w*0.99, h*0.99);
						w = w*0.99;
						h = h*0.99;
						img.width = w;
						img.height = h;
						this.checkImage(img, can, w, h, maxWidth, maxHeight, imgindex, imgtype)
					},
					uploadBlob: function(img, can, imgindex, cb) {
						var self = this;
						var orientation = 'portrait'
						if (can.width > can.height) { 
							orientation = 'landscape' 
						} else { 
							orientation = 'portrait' 
						}

						if (!HTMLCanvasElement.prototype.toBlob) {
						 Object.defineProperty(HTMLCanvasElement.prototype, 'toBlob', {
							value: function (callback, type, quality) {
								var binStr = atob( this.toDataURL(type, quality).split(',')[1] ),
								len = binStr.length,
								arr = new Uint8Array(len);
								for (var i = 0; i < len; i++ ) {
									arr[i] = binStr.charCodeAt(i);
								}
								callback( new Blob( [arr], {type: type || 'image/png'} ) );
							}
						 });
						}
						can.toBlob(function(blob) {
							var fd = new FormData();
							fd.append("img", blob);
							var uploadurl = '/api/uploadmedia/'+self.doc.index+'/'+imgindex+'/png';
							$.ajax({
								url: uploadurl,
								type: 'POST',
								data: fd,
								processData: false,
								contentType: false,
									success: function(response) { 
									img.onload = function () {
										self.doc.properties.media[imgindex].image_abs = response;
										self.doc.properties.media[imgindex].image = response.replace('/var/www/pu', '').replace('/Users/traceybushman/Documents/pu.bli.sh/pu', '');
										self.doc.properties.media[imgindex].thumb_abs = response;
										self.doc.properties.media[imgindex].thumb = response.replace('/var/www/pu', '').replace('/Users/traceybushman/Documents/pu.bli.sh/pu', '');
										self.doc.properties.media[imgindex].orientation = orientation;
										cb();
									}
									img.src = response.replace('/var/www/pu', '').replace('/Users/traceybushman/Documents/pu.bli.sh/pu', '');
								}
							})
						}, 'image/png');
					},
					drawFull: function(img, can, w, h, imgindex, imgtype) {
						var self = this;
						can.height = h;
						can.width = w;
						var ctx = can.getContext('2d');
					// console.log(w,h)
						ctx.drawImage(img, 0, 0, w, h);
						self.uploadBlob(img, can, imgindex, function(){
							var can = $('#canvas'+imgindex+'')[0];
							var maxWidth = 400 ;
							var maxHeight = 400 ;
							var w = img.width;
							var h = img.height;

							self.checkImage(img, can, w, h, maxWidth, maxHeight, imgindex, imgtype);
						})
						
					},
					drawThumb: function(img, can, w, h, imgindex, imgtype) {
						var self = this;
						can.height = h;
						can.width = w;
						var ctx = can.getContext('2d');
						
						ctx.drawImage(img, 0, 0, w, h);
						var dataurl = can.toDataURL("image/png", 0.8);
						setTimeout(function(){
							self.doc.properties.media[imgindex].thumb = dataurl.replace(/data:image\/png;base64,/, '');
							//$('#inputthumb'+imgindex+'').val(dataurl.replace(/data:image\/png;base64,/, ''));
							
						}, 100);
					},
					getCoordInds(latlngs, latlng) {
						
					},
					latlngsToArr(latlngs, cll){
					// console.log(latlngs)
						if (!Array.isArray(latlngs)) {
							return;
						}
						return latlngs.map(function(latlng, h){
							if (!Array.isArray(latlng)) {
							// console.log('latlng')
							// console.log(latlng)
								self.h = null;
								return [latlng.lng,latlng.lat];
							} else {
								if (latlng[0].lat && latlng[0].lat !== latlng[latlng.length-1].lat && latlng[0].lng !== latlng[latlng.length-1].lng) {
									latlng.push(latlng[0])
								}
								return latlng.map(function(ll, i){
									if (!Array.isArray(ll)) {
										if (ll.lat === cll.lat && ll.lng === cli.lng) {
										// console.log('ll')
										// console.log(ll)
											self.h = h;
											self.i = i;
											self.lvl = 'hi'
											//- self.doc.geometry.coordinates[h][i] = [ll.lng,ll.lat]
										}
										return [ll.lng,ll.lat]

									} else {
									// console.log(ll[0])
										if (ll[0].lat && ll[0].lat !== ll[ll.length-1].lat && ll[0].lng !== ll[ll.length-1].lng) {
											ll.push(ll[0])
										}
										return ll.map(function(l, j) {
											if (!Array.isArray(l)) {
												if (l.lat === cll.lat && l.lng === cll.lng) {
												// console.log('l')
												// console.log(l);
													//-// console.log(self.doc.geometry.coordinates[h][i][j], cll)
													self.h = h;
													self.i = i;
													self.j = j;
													self.lvl = 'hij'

													//- self.doc.geometry.coordinates[h][i][j] = [l.lng,l.lat]

												}
												return [l.lng,l.lat]

											} else {
												if (l[0].lat && l[0].lat !== l[l.length-1].lat && l[0].lng !== l[l.length-1].lng) {
													l.push(l[0])
												}
												return l.map(function(k, m){
													if (!Array.isArray(k)) {
														if (k.lat === cll.lat && k.lng === cll.lng) {
														// console.log('k')
														// console.log(k);
															self.h = h;
															self.i = i;
															self.j = j;
															self.m = m;
															self.lvl = 'hijm';
															//- self.doc.geometry.coordinates[h][i][j][m] = [k.lng,k.lat]
															
														}
														return [k.lng,k.lat]
													} else {
														console.log('giant array')
													}
													

												})
											}
										})
									}
								})
							}
							
						});
						//- console.log(latlngs)
						//- cb(latlngs)
					},
					xrOrNo(arr) { 
						// TODO -- better conditional for whole planet
						return arr.reverse()//true
						//( arr[0] < arr[1] ? arr.reverse() : arr ) 
					},
					rxOrNo(arr) { 
						// TODO -- better conditional for whole planet
						return arr.reverse()//true
						//( arr[0] < arr[1] ? arr.reverse() : arr ) 
					},
					xrArr(arr) {
						var self = this;
						if (!Array.isArray(arr[0])) return self.xrOrNo(arr);
						var rxa = arr.map(async function(ar){ if (!Array.isArray(ar[0])) { 
							return self.xrOrNo(ar) } else if (Array.isArray(ar)) {
								return await ar.map(function(a){ if (!Array.isArray(a[0])) { 
									return self.xrOrNo(a) } else if (Array.isArray(a)) {
										return a.map(function(b){ if (!Array.isArray(b[0])) { 
											return self.xrOrNo(b) } else if (Array.isArray(b)) {
												return b.map(function(c){ 
							if (!Array.isArray(c[0])) {return self.xrOrNo(c) }
							else {return} })} else {return} })} else {return} })} else {return}
						});
					// console.log(arr)
						return arr; 
					},
					rxArr(arr) {
						var self = this;
						//console.log(arr)
						if (!Array.isArray(arr[0])) return self.rxOrNo(arr);
						var rxa = arr.map(function(ar){ 
							if (!Array.isArray(ar[0])) { 
								return self.rxOrNo(ar) 
							} else if (Array.isArray(ar)) {
								return ar.map(function(a){ 
									if (!Array.isArray(a[0])) { 
										return self.rxOrNo(a) 
									} else if (Array.isArray(a)) {
										return a.map(function(b){ 
											if (!Array.isArray(b[0])) { 
												return self.rxOrNo(b) 
											} else if (Array.isArray(b)) {
												return b.map(function(c){ 
													if (!Array.isArray(c[0])) {
														return self.rxOrNo(c) 
													} else {
														return c.map(function(d){
															if (!Array.isArray(d[0])) {
																return self.rxOrNo(d)
															} else {
															// console.log(d)
																return
															}
														})
													} 
												})
											} else {
												return
											} 
										})
									} else {
										return
									} 
								})
							} else {
								return
							}
						});
						//console.log(rxa)
						return rxa; 
					} /*Leaflet requires reversed geo-coordinate (lat, lng)*/,
					loadMap(cb) {
						var self = this;
						var dataLayer;
						var dataCoords;
						// console.log(!self.position)
						var map = new L.map('map', { 
							center: [
								(!self.position ? 40.7608 : self.position.lat),
								(!self.position ? -111.8910 : self.position.lng)
							], 
							zoom: (!self.position ? 6 : self.position.zoom),
							zoomControl: false,
							minZoom: 2,
							maxZoom: 18,
							editable: true,
							renderer: L.canvas(),
							preferCanvas: true
						});
						if (self.infowindow === 'tooltip') {
							L.control.zoom({
								position:'bottomleft'
							}).addTo(map);
						} else {
							L.control.zoom({
								position:'topleft'
							}).addTo(map);
						}
						
						var options3 = {
							
							attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
						};
						//https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png
						//L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', options3).addTo(map);
						//var canvas = L.tileLayer.canvas();
						//canvas.drawTile = function(can, )
						L.tileLayer('https://api.mapbox.com/styles/v1/tbushman/ciq7gm0ov008kbfm580v9mm9c/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoidGJ1c2htYW4iLCJhIjoiSmI0aU94OCJ9.SZytljBzoWupPUYeu_OR9A', {renderer: L.canvas({padding:0.5}), bounds: map.getBounds().pad(1000)}).addTo(map);
						//var tileCanvas = L.tileLayer.canvas('https://api.mapbox.com/styles/v1/tbushman/ciq7gm0ov008kbfm580v9mm9c/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoidGJ1c2htYW4iLCJhIjoiSmI0aU94OCJ9.SZytljBzoWupPUYeu_OR9A', {renderer: L.canvas({padding:0.5}), bounds: map.getBounds().pad(100)}).addTo(map); //slc transit
						//tileCanvas.drawTile = function()
						//var stamenLayer = new L.StamenTileLayer('terrain');
						//map.addLayer(stamenLayer)
						//L.tileLayer('http://{s}.tiles.mapbox.com/v3/tbushman.iba1gl27/{z}/{x}/{y}.png').addTo(map);
						
						//L.tileLayer('http://tile.thunderforest.com/outdoors/${z}/${x}/${y}.png').addTo(map);
						self.map = map
						if (!self.dataLayer && self.doc) {
							// generate geographic points from data
							if (self.doc && self.doc !== '') {
								var myRenderer = L.canvas({ padding: 0.5 });
								//dataLayer = L.GeoJSON.geometryToLayer(self.doc).addTo(map);
								self.dataLayer = L.GeoJSON.geometryToLayer(self.doc, {
									// MongoDB stores coordinates as [lng, lat]
									// Leaflet uses [lat, lng]
									
									onEachFeature: async function (feature, layer) {
										if (feature.geometry.type === 'Point') {
										}
										if (feature.geometry.type === 'Polygon') {
											//layer.setLatLngs(self.doc.geometry.coordinates[0])
											self.latlngs = layer.getLatLngs()
											//- await self.rxArr(feature.geometry.coordinates)
										}
										
									},
									geometryToLayer: function(feature) {
										if (feature.geometry.type === 'Polygon') {
											//console.log(feature.geometry.type )
											var geojsonPolygonOptions = {
												fillColor: 'var(--highlight)',
												color: '#fff',
												weight: 2,
												opacity: 1,
												fillOpacity: 0.8,
												className: feature._id
												
											};
											var polygon = L.polygon(feature.geometry.coordinates, geojsonPolygonOptions);
											//polygon.enableEdit();
											//polygon.on('dblclick', L.DomEvent.stop).on('dblclick', dataLayer.toggleEdit);
											return polygon;
										}
									},
									pointToLayer: function (feature, latlng) {
										if (feature.geometry.type === 'Point') {
											//console.log(feature)
											var geojsonMarkerOptions = {
												radius: 11,
												fillColor: 'var(--highlight)',
												color: '#fff',
												weight: 2,
												opacity: 1,
												fillOpacity: 0.8,
												className: feature._id+'@'+map.latLngToLayerPoint(latlng).x+','+map.latLngToLayerPoint(latlng).y+''
											};
											var circleMarker = L.circleMarker(latlng, geojsonMarkerOptions);
											return circleMarker;
										}
										
									}
								})//.addTo(map);
								
								//cb(map, dataLayer)
								self.map.addLayer(self.dataLayer);

								//- self.dataLayer.on('dragend', function(e){
								//- 	var latlngs = [];
								//- 	console.log(e.target.getLatLngs)
								//- 	e.target.getLatLngs().forEach(function(latlng){
								//- 		console.log(latlng)
								//- 		if (latlng) {
								//- 			latlng.forEach(function(ll){
								//- 				console.log(ll)
								//- 				latlngs.push([ll.lng,ll.lat])
								//- 			})
								//- 			latlngs.push([latlng[0].lng, latlng[0].lat])
								//- 		}
								//- 	})
								//- 	self.doc.geometry.coordinates = latlngs
								//- })
								map.on('editable:editing', function (e) {
									e.layer.setStyle({color: 'DarkRed'});
								});
								self.map.on('editable:vertex:dragstart', async function(e){
									var latlngs = [];
									//- console.log(self.dataLayer.getLatLngs(), e)
									var cll = e.vertex.latlng.__vertex.latlng;
								// console.log(cll);
									var dll = self.dataLayer.getLatLngs();
									//-// console.log(dll)
									var lvl = 0;
									var p = 0;
									var dl;
									var lll = self.dataLayer.getLatLngs();
									self.latlngs = lll;
									//- if (lll) await self.latlngsToArr(lll, cll, function(arr){
									//- // console.log(arr)
									//- 	self.doc.geometry.coordinates = arr;
									//- });
									
								})
								self.map.on('editable:vertex:dragend', function(e){
									//- var latlngs = [];
									//-// console.log(self.dataLayer.getLatLngs(), e)
									var cll = e.vertex.latlng.__vertex.latlng;
								// console.log(cll);
									var dll = self.dataLayer.getLatLngs();
									//-// console.log(dll)
									var lvl = 0;
									var p = 0;
									var dl;
									self.latlngs = dll;
									self.doc.geometry.coordinates = self.latlngsToArr(dll, cll);
								// console.log(self.doc.geometry.coordinates)
								})
								//dataLayer.on('dblclick', L.DomEvent.stop).on('dblclick', dataLayer.toggleEdit);
								var latlng;
								if (!Array.isArray(self.doc.geometry.coordinates[0])) {
									dataCoords = self.doc.geometry.coordinates;
									latlng = new L.LatLng(dataCoords[0], dataCoords[1]);
									
									 //- && self.pu && self.pu !== ''
								} else if (self.mapActive && self.loggedin && self.loggedin !== '') {
									//-// console.log(self.rxArr(self.doc.geometry.coordinates))
									dataCoords = //self.rxArr(
										self.latlngsToArr(latlngs, latlng)
										//- self.doc.geometry.coordinates
									//- )
									[0][0];
									if (Array.isArray(dataCoords[0])) {
										if (Array.isArray(dataCoords[0][0])) {
											if (Array.isArray(dataCoords[0][0][0])) {
											// console.log(dataCoords[0][0][0])
												if (Array.isArray(dataCoords[0][0][0][0])) {
													
												} else {
													dataCoords = dataCoords[0][0][0]
												}
											} else {
												dataCoords = dataCoords[0][0]
											}
										} else {
											dataCoords = dataCoords[0]
										}
									}
									latlng = new L.LatLng(dataCoords[1], dataCoords[0]);
								// console.log(latlng)
								} else {
									var coords = //L.latLng(
										//- self.rxArr(
											//- self.doc.geometry.coordinates[0]
										self.latlngs;
									
									//- );
								// console.log(coords)
									var cd;
									if (coords) {
										cd = L.latLngBounds(coords).getCenter();
									}
									if (!cd) {
										latlng = L.latLng([40, -111.8]);
									} else {
									// console.log(cd)
										latlng = cd;//- dataCoords = [cd.lng, cd.lat]
									}
									dataCoords = [latlng.lat,latlng.lng]
								}
								// && self.pu && self.pu.admin
								if (self.loggedin && self.loggedin !== '') self.dataLayer.enableEdit();

								self.lMarker = L.marker(dataCoords, {draggable: true}).addTo(map);
								
							}

							self.map.panTo(latlng);
							
							cb(latlng)

						} else {
							cb(null)
						// console.log('when?')
						}
					}
				}
			});
